{% extends 'intro/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning border-bottom mt-5">SERVICES</h1>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fab fa-python fa-2x mb-3 i-color"></i>
            <h1>Python</h1><br>
            <p class="ss-color">
                I would love to do coding with python. Python is one of my most favourite
                programming language because of it's rich libraries. I just love it!
                I have experience with OOP, Django Frame work and python data science libraries.
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-linux fa-2x i-color"></i>
            <h1>Linux</h1><br>
            <p class="ss-color">
                I am using Linux from the beginning of 2017. It's easy , fun and pretty much faster than Windows.
                I am experienced with linux Kernel and made some project with it.
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-database fa-2x i-color"></i>
            <h1>Database</h1><br>
            <p class="ss-color">
                I had the database course when i was third year student. I have experience with various types of sql
                queries.
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-css3 fa-2x i-color"></i>
            <h1>CSS3</h1><br>
            <p class="ss-color">
                Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a
                document written in a markup language such as HTML. i have 2 years experience about it.
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-html5 fa-2x i-color"></i>
            <h1>HTML5</h1><br>
            <p class="ss-color">The HyperText Markup Language, or HTML is the standard markup language for documents
                                designed to be displayed in a web browser. </p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-js fa-2x i-color"></i>
            <h1>JS</h1><br>
            <p class="ss-color">
                JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript
                specification. JavaScript is high-level, often just-in-time compiled, and multi-paradigm.
            </p>
        </div>

        <div class="col-sm-4">
            <i class="fab fa-bootstrap fa-2x i-color"></i>
            <h1>Bootstrap</h1><br>
            <p class="ss-color">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first
                                front-end web development. It contains CSS- and JavaScript-based design templates for
                                typography, forms, buttons, navigation, and other interface components.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-search fa-2x i-color"></i>
            <h1>SEO</h1><br>
            <p class="ss-color">
                Search engine optimization (SEO) is the process of improving the quality and quantity of website traffic
                to a website or a web page from search engines. SEO targets unpaid traffic (known as "natural" or
                "organic" results) rather than direct traffic or paid traffic.
            </p>
        </div>
    </div>
</div>
{% endblock content %}





