{% extends 'intro/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:96%" aria-valuenow="96" aria-valuemin="0"
                     aria-valuemax="100">96%
                </div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Bootsrap</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:95%" aria-valuenow="95" aria-valuemin="0"
                     aria-valuemax="100">95%
                </div>
            </div>

        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">Javascript</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:90%" aria-valuenow="90" aria-valuemin="0"
                     aria-valuemax="100">90%
                </div>
            </div>

        </div>
         <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:85%" aria-valuenow="85" aria-valuemin="0"
                     aria-valuemax="100">85%
                </div>
            </div>

        </div>
         <div class="col-sm-5">
            <h3 class="mt-5">Database</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:70%" aria-valuenow="70" aria-valuemin="0"
                     aria-valuemax="100">70%
                </div>
            </div>

        </div>
         <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:95%" aria-valuenow="95" aria-valuemin="0"
                     aria-valuemax="100">95%
                </div>
            </div>

        </div>
         <div class="col-sm-5">
            <h3 class="mt-5">ML/AI/Deep Learning</h3>
            <div class="progress">
                <div class=" progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:30%" aria-valuenow="30" aria-valuemin="0"
                     aria-valuemax="100">30%
                </div>
            </div>

        </div>
         <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">C/C++</h3>
            <div class="progress">
                <div class=" progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     style="width:60%" aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100">60%
                </div>
            </div>

        </div>
    </div>


</div>
{% endblock content %}