{% extends 'intro/base.html' %}
{% block content %}
<div class="container mb-5">
    <h1 class="text-warning mb-5 border-bottom">Contact Us</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do you have any questions? Please you can share with us.
            We will try to help you. Good luck!
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6 text-warning">
                        <label for="inputName">Your Name:</label>
                        <input type="text" class="form-control" id="inputName">

                    </div>
                     <div class="form-group col-md-6 text-warning">
                         <label for="inputMail">Your Email:</label>
                         <input type="email" class="form-control"
                                id="inputMail" required>
                     </div>

                </div>
                <div class="form-group col-md-6 text-warning">
                    <label for="inputSubject">Your Subject:</label>
                    <input type="text" class="form-control"
                           id="inputSubject">
                </div>
                <div class="form-group col-md-6 text-warning">
                    <label for="inputExtra">Your Messages:</label>
                    <textarea class="form-control" id="inputExtra"
                    required></textarea>


                </div>
                <br>
                <button class="btn btn-primary" type="submit">Send </button>

            </form>

        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>MBSTU, Tangail, Dhaka, Bangladesh</p>

                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                    <p>+8801953479756</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p>habibmhr143@gmail.com</p>
                </li>


            </ul>
        </div>


    </div>
</div>
<div class="text-center mb-5">
    <a href="https://www.facebook.com/Habib.IT.mbstu/" target="_blank"><i class="fab fa-facebook-f i-color
                               fa-2x mr-7"></i></a>
      <a href="https://www.instagram.com/habib_thebatman/" target="_blank"><i class="fab fa-instagram i-color
                              fa-2x mr-7"></i></a>
        <a href="https://www.linkedin.com/in/md-habibur-rahman-793440150/" target="_blank"><i class="fab fa-linkedin i-color
                              fa-2x  mr-7"></i></a>

</div>
{% endblock content %}