{% load static %}
<div class="border-right text-success h-100">
    <div class="text-center">
        <img src="{% static 'intro/images/me2.jpg' %}" alt="profile"
             class="img-fluid rounded-circle mt-5"
             width="100px" height="100px">
        <h3 class="text-white mt-3 st-font">Md Habibur Rahman</h3>
    </div>
    <hr class="border-light">
    <nav class="nav flex-column text-center">

        <a href="{%url 'home'%}" class="nav-link {{home}}">Home</a>
        <a href="{%url 'service'%}" class="nav-link {{service}}">Services</a>
        <a href="{%url 'skill'%}" class="nav-link {{skill}}">Skills</a>
        <a href="{%url 'contact'%}" class="nav-link {{contact}}">Contact</a>


    </nav>
</div>